<% layout('./Layout/layout.ejs') -%>

  <div class="content">

    <!-- Dynamic Table with Export Buttons -->
    <div class="block block-rounded">
      <div class="block-header block-header-default">
        <h3 class="block-title">Attendance Table <small>All Time</small></h3>
      </div>
      <div class="block-content block-content-full overflow-x-auto">
        <form action="/admin/report-attendance/export" method="get">
          <div class="row">
            <div class="col-lg-7 col-md-6">
              <div class="mb-4">
                <div class="input-group">
                  <!-- Month Selector -->
                  <select class="form-control" name="month" required>
                    <option value="" disabled>Select Month</option>
                    <option value="01" <%= currentMonth == 1 ? 'selected' : '' %>>January</option>
                    <option value="02" <%= currentMonth == 2 ? 'selected' : '' %>>February</option>
                    <option value="03" <%= currentMonth == 3 ? 'selected' : '' %>>March</option>
                    <option value="04" <%= currentMonth == 4 ? 'selected' : '' %>>April</option>
                    <option value="05" <%= currentMonth == 5 ? 'selected' : '' %>>May</option>
                    <option value="06" <%= currentMonth == 6 ? 'selected' : '' %>>June</option>
                    <option value="07" <%= currentMonth == 7 ? 'selected' : '' %>>July</option>
                    <option value="08" <%= currentMonth == 8 ? 'selected' : '' %>>August</option>
                    <option value="09" <%= currentMonth == 9 ? 'selected' : '' %>>September</option>
                    <option value="10" <%= currentMonth == 10 ? 'selected' : '' %>>October</option>
                    <option value="11" <%= currentMonth == 11 ? 'selected' : '' %>>November</option>
                    <option value="12" <%= currentMonth == 12 ? 'selected' : '' %>>December</option>
                  </select>
        
                  <!-- Year Selector -->
                  <select class="form-control ms-2" name="year" required>
                    <option value="" disabled>Select Year</option>
                    <option value="2024" <%= currentYear == 2025 ? 'selected' : '' %>>2025</option>
                    <option value="2024" <%= currentYear == 2024 ? 'selected' : '' %>>2024</option>
                    <option value="2023" <%= currentYear == 2023 ? 'selected' : '' %>>2023</option>
                    <option value="2022" <%= currentYear == 2022 ? 'selected' : '' %>>2022</option>
                    <option value="2021" <%= currentYear == 2021 ? 'selected' : '' %>>2021</option>
                    <option value="2020" <%= currentYear == 2020 ? 'selected' : '' %>>2020</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3">
              <button type="submit" class="btn btn-success mb-3 w-100">
                <i class="fa fa-fw fa-file-pdf"></i> Export
              </button>
            </div>
          </div>
        </form>
        
        
        

        <div class="table-responsive">
          <!-- DataTables init on table by adding .js-dataTable-buttons class, functionality is initialized in js/pages/be_tables_datatables.min.js which was auto compiled from _js/pages/be_tables_datatables.js -->
          <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th>Full Name</th>

                <th>Log Date</th>
                <th>Time In</th>
                <th>Time Out</th>
                <th>Total Hours</th>
                <th>Status Time In</th>
                <th>Status Time Out</th>

              </tr>
            </thead>
            <tbody>

              <% recentAttendance.forEach(function(entry, index) { %>
                <tr>
                  <td>
                    <%= index + 1 %>
                  </td>
                  <td class="fw-semibold fs-sm d-flex align-items-center">
                    <img src="/images/profile/<%= entry.profile_url %>" class="img-avatar me-2" alt=""
                      style="width: 40px; height: 40px;">
                    <span>
                      <%= entry.lastname %>, <%= entry.firstname %>
                    </span>
                  </td>
                  <td>
                    <%= new Date(entry.log_date).toLocaleDateString("en-US", { month: "long" , day: "numeric" ,
                      year: "numeric" }) %>
                  </td>
                  <td>
                    <%= entry.time_in %>
                  </td>
                  <td>
                    <%= entry.time_out %>
                  </td>
                  <td>
                    <% if (entry.total_hours < 8.0) { %>
                      <%= entry.total_hours %> hrs
                      <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill 
                      bg-danger-light text-danger 
                     ">Undertime</span>
                  <% } else { %>
                      <%= entry.total_hours %>
                  <% } %>
                  
                  </td>
                  <td class="fs-sm text-center">
                    <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill 
                                  <% if (entry.status_timein === 'absent') { %> bg-danger-light text-danger 
                                  <% } else if (entry.status_timein === 'early') { %> bg-warning-light text-warning 
                                  <% } else if (entry.status_timein === 'late') { %> bg-info-light text-info 
                                  <% } else { %> bg-success-light text-success <% } %>">
                      <%= entry.status_timein %>
                    </span>
                  </td>
                  <td class="fs-sm text-center">
                    <% if (entry.status_timeout) {%>
                      <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill 
                              <% if (entry.status_timeout === 'absent') { %> bg-danger-light text-danger 
                              <% } else if (entry.status_timeout === 'early') { %> bg-warning-light text-warning 
                              <% } else if (entry.status_timeout === 'late') { %> bg-info-light text-info 
                              <% } else { %> bg-success-light text-success <% } %>">
                        <%= entry.status_timeout %>
                      </span>
                      <%} else {%>

                        <%}%>
                  </td>

                </tr>
                <% }); %>


            </tbody>
          </table>

        </div>

      </div>
    </div>

  </div>
  
  <script>
       document.addEventListener('DOMContentLoaded', function() {
            // Get today's date in MM/DD/YYYY format
            const today = new Date();
            const formattedDate = today.toLocaleDateString('en-US');
            
            // Set default values for date inputs
            document.getElementById('example-daterange1').value = formattedDate;
            document.getElementById('example-daterange2').value = formattedDate;
        });
  </script>