<% layout('./Layout/layout.ejs') -%>

  <div class="content">

    <h2 class="content-heading">Overview</h2>
    <div class="row">
      <div class="col-md-6 col-xl-3">
        <a class="block block-rounded block-link-pop bg-success" href="javascript:void(0)">
          <div class="block-content block-content-full d-flex align-items-center justify-content-between">
            <div>
              <i class="fa fa-2x fa-thumbs-up text-white"></i>
            </div>
            <dl class="ms-3 text-end text-white mb-0">
              <dt class="h3 fw-extrabold mb-0">
                <%=todaySummary.present_count%>
              </dt>
              <dd class="fs-sm fw-medium text-white-75 mb-0">
                Present
              </dd>
            </dl>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-xl-3">
        <a class="block block-rounded block-link-pop bg-danger" href="javascript:void(0)">
          <div class="block-content block-content-full d-flex align-items-center justify-content-between">
            <div>
              <i class="fa fa-2x fa-thumbs-down text-white"></i>
            </div>
            <dl class="ms-3 text-end mb-0 text-white">
              <dt class="h3 fw-extrabold mb-0">
                <%=todaySummary.absent_count%>
              </dt>
              <dd class="fs-sm fw-medium text-white-75 mb-0">
                Absent
              </dd>
            </dl>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-xl-3">
        <a class="block block-rounded block-link-pop bg-modern" href="javascript:void(0)">
          <div class="block-content block-content-full d-flex align-items-center justify-content-between">
            <div>
              <i class="fa fa-2x fa-clock text-white"></i>
            </div>
            <dl class="ms-3 text-end mb-0 text-white">
              <dt class="h3 fw-extrabold mb-0">
                <%=todaySummary.late_count%>
              </dt>
              <dd class="fs-sm fw-medium text-white-75 mb-0">
                Late Timed In
              </dd>
            </dl>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-xl-3">
        <a class="block block-rounded block-link-pop bg-warning" href="javascript:void(0)">
          <div class="block-content block-content-full d-flex align-items-center justify-content-between">
            <div>
              <i class="fa fa-2x fa-paper-plane text-white"></i>
            </div>
            <dl class="ms-3 text-end mb-0 text-white">
              <dt class="h3 fw-extrabold mb-0">
                <%=todaySummary. early_timeout_count%>
              </dt>
              <dd class="fs-sm fw-medium text-white-75 mb-0">
                Early Timed Out
              </dd>
            </dl>
          </div>
        </a>
      </div>
      <!-- User Details -->
      <div class="col-md-6 col-xl-3">
        <a class="block block-rounded block-link-pop " href="javascript:void(0)">
          <div class="block-content block-content-full d-flex align-items-center justify-content-between">
            <div>
              <i class="fa fa-2x fa-user text-muted"></i>
            </div>
            <dl class="ms-3 text-end  mb-0">
              <dt class="h3 fw-extrabold mb-0">
                <%=totalEmployee%>
              </dt>
              <dd class="fs-sm fw-medium text-muted mb-0">
                Total Employee
              </dd>
            </dl>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-xl-3">
        <a class="block block-rounded block-link-pop " href="javascript:void(0)">
          <div class="block-content block-content-full d-flex align-items-center justify-content-between">
            <div>
              <i class="fa fa-2x fa-list-check text-muted"></i>
            </div>
            <dl class="ms-3 text-end  mb-0">
              <dt class="h3 fw-extrabold mb-0">
                <%=totalAttendance%>
              </dt>
              <dd class="fs-sm fw-medium text-muted mb-0">
              Total Record
              </dd>
            </dl>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-xl-3">
        <a class="block block-rounded block-link-pop " href="javascript:void(0)">
          <div class="block-content block-content-full d-flex align-items-center justify-content-between">
            <div>
              <i class="fa fa-2x fa-id-card text-muted"></i>
            </div>
            <dl class="ms-3 text-end  mb-0">
              <dt class="h3 fw-extrabold mb-0">
                <%=activeRfid%>
              </dt>
              <dd class="fs-sm fw-medium text-muted mb-0">
                Active RFID
              </dd>
            </dl>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-xl-3">
        <a class="block block-rounded block-link-pop " href="javascript:void(0)">
          <div class="block-content block-content-full d-flex align-items-center justify-content-between">
            <div>
              <i class="fa fa-2x fa-calendar text-muted"></i>
            </div>
            <dl class="ms-3 text-end  mb-0">
              <dt class="h3 fw-extrabold mb-0">
                <%=upcomingHoliday%>
              </dt>
              <dd class="fs-sm fw-medium text-muted mb-0">
                Upcoming Holiday
              </dd>
            </dl>
          </div>
        </a>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-12">
        <div class="block block-rounded">
          <div class="block-header block-header-default">
            <h3 class="block-title">Monthly Attendance Summary</h3>
            <div class="block-options">

            </div>
          </div>
          <div class="block-content block-content-full text-center">
            <div class="">
              <!-- Radar Chart Container -->
              <canvas id="attendanceChart" width="420" height="450"
                style="display: block; box-sizing: border-box; max-height: 450px;  width: 420;"></canvas>
            </div>
          </div>
        </div>
      </div>



    </div>
    <div class="row items-push">
      <div class="col-lg-8">
        <div class="block block-rounded h-100">
          <div class="block-header block-header-default">
            <h3 class="block-title">Number of Employees in Each Department</h3>

          </div>
          <div class="block-content block-content-full text-center">
            <div class="">
              <!-- Radar Chart Container -->
              <canvas id="departmentChart" width="420" height="200"
                style="display: block; box-sizing: border-box; height: 200px; width: 420;"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">

        <div class="block block-rounded h-100">
          <div class="block-header block-header-default">
            <h3 class="block-title">Attendance Percentage</h3>

          </div>
          <div class="block-content block-content-full text-center">
            <div class="">
              <!-- Radar Chart Container -->
              <canvas id="percentageChart" width="420" height="200"
                style="display: block; box-sizing: border-box; height: 200px; width: 420;"></canvas>
            </div>

          </div>

        </div>
      </div>

    </div>
    <div class="row items-push">
      <div class="col-lg-8">
        <div class="block block-rounded h-100">
          <div class="block-header block-header-default">
            <h3 class="block-title">Best Attendance of All Time</h3>

          </div>
          <div class="block-content">
            <div class="js-slider text-center" data-dots="true" data-arrows="true">
              <% bestAttendance.forEach(function(entry, index) { %>
                <div class="py-3">
                  <img class="img-avatar" src="/images/profile/<%= entry.profile_url %>" alt="">
                  <div class="mt-2 fw-semibold">
                    <%= entry.firstname %>
                      <%= entry.lastname %>
                  </div>
                  <p class="fs-sm fw-medium text-muted mb-0">
                    <%= entry.department_name %> - <%= entry.designation_name %>
                  </p>
             
                  <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-success-light text-success mb-4">Top <%=index + 1%></span>
                  <div class="row g-sm">
                    <div class="col-4">
                      <div class="item item-circle mb-3 mx-auto border border-2">
                        <i class="fas fa-clock text-primary"></i>
                      </div>
                      <p class="fs-sm fw-medium text-muted mb-0">
                        Total Hours: <strong> <%= entry.total_hours %></strong>
                      </p>
                    </div>
                    <div class="col-4">
                      <div class="item item-circle mb-3 mx-auto border border-2">
                        <i class="fas fa-calendar-day text-primary"></i>
                      </div>
                      <p class="fs-sm fw-medium text-muted mb-0">
                        Days Worked: <strong><%= entry.days_worked %></strong>
                      </p>
                    </div>
                    <div class="col-4">
                      <div class="item item-circle mb-3 mx-auto border border-2">
                        <i class="fas fa-percentage text-primary"></i>
                      </div>
                      <p class="fs-sm fw-medium text-muted mb-0">
                        Attendance: <strong><%= parseFloat(entry.attendance_percentage).toFixed(2) %>%</strong>
                      </p>


                    </div>
                  </div>
                </div>
                <%})%>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="block block-rounded h-100">
          <div class="block-header block-header-default">
            <h3 class="block-title">Average Working Hours</h3>

          </div>
          <div class="block-content block-content-full text-center">
            <div class="">
              <!-- Radar Chart Container -->
              <canvas id="halfDoughnutChart" width="420" height="100"
                style="display: block; box-sizing: border-box; height: 100px; width: 420;"></canvas>
                <p class="text-muted mb-0"> Average Hours Worked: <span class="fw-semibold text-dark"> <%=averageHours[0].avg_hours %></span></p>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="block block-rounded">
      <div class="block-header block-header-default">
        <h3 class="block-title">Recent Attendance</h3>
       
      </div>
      <div class="block-content">

        <div class="table-responsive">
          <table class="table table-bordered table-striped table-vcenter">
            <thead>
              <tr>
                <th>#</th>
                <th>Full Name</th>


                <th>Time In</th>
                <th>Time Out</th>
                <th>Total Hours</th>
                <th>Status Time In</th>
                <th>Status Time Out</th>

            </thead>
            <tbody>
     
                <% recentAttendance.forEach(function(entry, index) { %>
                  <tr>
                <td>
                  <%= index + 1 %>
                </td>
                <td class="fw-semibold fs-sm d-flex align-items-center">
                  <img src="/images/profile/<%= entry.profile_url %>" class="img-avatar me-2" alt=""
                    style="width: 40px; height: 40px;">
                  <span>
                    <%= entry.lastname %>, <%= entry.firstname %>
                  </span>
                </td>

                <td>
                  <%= entry.time_in %>
                </td>
                <td>
                  <%= entry.time_out %>
                </td>
                <td>
                  <%= entry.total_hours %>
                </td>
                <td class="fs-sm text-center">
                  <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill 
                            <% if (entry.status_timein === 'absent') { %> bg-danger-light text-danger 
                            <% } else if (entry.status_timein === 'early') { %> bg-warning-light text-warning 
                            <% } else if (entry.status_timein === 'late') { %> bg-info-light text-info 
                            <% } else { %> bg-success-light text-success <% } %>">
                    <%= entry.status_timein %>
                  </span>
                </td>
                <td class="fs-sm text-center">
                  <% if (entry.status_timeout) {%>
                    <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill 
                        <% if (entry.status_timeout === 'absent') { %> bg-danger-light text-danger 
                        <% } else if (entry.status_timeout === 'early') { %> bg-warning-light text-warning 
                        <% } else if (entry.status_timeout === 'late') { %> bg-info-light text-info 
                        <% } else { %> bg-success-light text-success <% } %>">
                      <%= entry.status_timeout %>
                    </span>
                    <%} else {%>

                      <%}%>
                </td>

              </tr>
              <% }); %>
           

            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    // Data fetched from the SQL query and passed into the EJS template
    const labels = <%- JSON.stringify(attendanceMonth.map(entry => entry.log_date)) %>;
    const presentData = <%- JSON.stringify(attendanceMonth.map(entry => entry.present_count)) %>;
    const absentData = <%- JSON.stringify(attendanceMonth.map(entry => entry.absent_count)) %>;
    const lateData = <%- JSON.stringify(attendanceMonth.map(entry => entry.late_count)) %>;
    const earlyTimeoutData = <%- JSON.stringify(attendanceMonth.map(entry => entry.early_timeout_count)) %>;

    const ctx = document.getElementById('attendanceChart').getContext('2d');
    const attendanceChart = new Chart(ctx, {
      type: 'line', // You can change this to 'bar', 'line', etc.
      data: {
        labels: labels,
        datasets: [
          {
            label: 'Present',
            data: presentData,
            borderColor: 'green',
            backgroundColor: 'rgba(0, 255, 0, 0.2)',
            fill: false
          },
          {
            label: 'Absent',
            data: absentData,
            borderColor: 'red',
            backgroundColor: 'rgba(255, 0, 0, 0.2)',
            fill: false
          },
          {
            label: 'Late Timein',
            data: lateData,
            borderColor: 'orange',
            backgroundColor: 'rgba(255, 165, 0, 0.2)',
            fill: false
          },
          {
            label: 'Early Timeout',
            data: earlyTimeoutData,
            borderColor: 'blue',
            backgroundColor: 'rgba(0, 0, 255, 0.2)',
            fill: false
          }
        ]
      },
      options: {
        responsive: true,
        scales: {
          x: {
            title: {
              display: true,
              text: 'Date'
            }
          },
          y: {
            title: {
              display: true,
              text: 'Count'
            },
            beginAtZero: true,
            ticks: {
              stepSize: 1 // This sets the step size to 1
            }
          }
        }
      }
    });
  </script>

  <script>
    // Sample data, replace this with the actual percentage you get from your server
    const attendancePercentage = <%- attendancePercentage%>; // Example percentage
    const absencePercentage = 100 - <%- attendancePercentage%>; // Calculate absence percentage

    const ctx2 = document.getElementById('percentageChart').getContext('2d');
    const attendanceChart2 = new Chart(ctx2, {
      type: 'pie', // or 'doughnut' for a different look
      data: {
        labels: ['Present', 'Absent'],
        datasets: [{
          label: 'Attendance Percentage',
          data: [attendancePercentage, absencePercentage],
          backgroundColor: ['#36a2eb', '#ff6384'],
          borderColor: ['#fff', '#fff'],
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          tooltip: {
            callbacks: {
              label: function (tooltipItem) {
                const label = tooltipItem.label;
                const value = tooltipItem.raw;
                return `${label}: ${value}%`;
              }
            }
          }
        }
      }
    });
  </script>


  <script>
    // Pass the data from EJS to JavaScript
    const departmentLabel = <%- JSON.stringify(departments.map(dept => dept.department)) %>;
    const departmentValues = <%- JSON.stringify(departments.map(dept => dept.total_employees)) %>;

    const ctx3 = document.getElementById('departmentChart').getContext('2d');
    new Chart(ctx3, {
      type: 'bar',
      data: {
        labels: departmentLabel,
        datasets: [{
          label: 'Total Employees',
          data: departmentValues,
          backgroundColor: departmentValues.map((_, i) => `hsl(${i * 360 / departmentValues.length}, 100%, 75%)`),
          borderColor: departmentValues.map((_, i) => `hsl(${i * 360 / departmentValues.length}, 100%, 50%)`),
          borderWidth: 1
        }]
      },
      options: {
        plugins: {
          legend: {
            display: false,

          }
        },
        indexAxis: 'x', // This makes the bar chart horizontal
        scales: {
          x: {
            beginAtZero: true,
            ticks: {
              stepSize: 1 // This sets the step size to 1
            }
          }
        }
      }
    });
  </script>
  <script>
    
    const averageHoursData = <%- JSON.stringify(averageHours) %>;
    const averageHours = averageHoursData[0].avg_hours;
    const remainingHours = 12 - averageHours;
    const ctx4 = document.getElementById('halfDoughnutChart').getContext('2d');
    new Chart(ctx4, {
      type: 'doughnut',
      data: {
        labels: ['Average Hours Worked', 'Remaining Hours'],
        datasets: [{
          data: [averageHours, remainingHours],
          backgroundColor: ['rgba(75, 192, 192, 0.6)', 'rgba(201, 203, 207, 0.6)'],
          borderColor: ['rgba(75, 192, 192, 1)', 'rgba(201, 203, 207, 1)'],
          borderWidth: 1
        }]
      },
      options: {
        rotation: -90,
        circumference: 180, // Creates the half-doughnut effect
        plugins: {
          tooltip: {
            callbacks: {
              label: function (context) {
                const label = context.label || '';
                const value = context.raw;
                return `${label}: ${value} hours`;
              }
            }
          },
          legend: {
            display: false,

          }
        }
      }
    });
  </script>